* {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  font-weight: bolder;
}

table caption {
  font-size: 1.3em;
  font-weight: bold;
  padding: 10px;
}
 
table td, table th {
  border: 2px solid #000;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: aqua;
}

table tr:nth-child(even) {
  background-color: #faebd7;
}

div#container {
  overflow-x: auto;
}