@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'Cubic';
    src: url(fonts/cubic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Permanent Marker', cursive, 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Cubic', serif;
    font-weight: bold;
    font-size: 5em; 
    position: absolute;
    margin-top: 10%;
}

img {
    position: absolute;
}

p {
    text-indent: 20px;
}